body{
    font-family: "Inter", sans-serif;
    background-color: #740548c0
}

.profile-area {
 max-width: 550px;
margin: 90px auto;
background-color: hsl(276, 38%, 97%);
padding: 50px;
border-radius: 15px;
text-align: center;
box-shadow: 0 4px 8px rgba(0,0,0,0,1);
}

.profile-img{
  display:block;
  margin: 20px auto;
  width: 150px;
  height: 150px;
  border-radius: 10%;
}

dl {
margin-top: 20px;
}

dt {
    font-weight: bold;
    margin-top: 10px;
    color: #9215ac
}

dd {
    margin: 0 0 10px 20px;
    color: #000000;
}